/* ------------------------------
   1. HIDE ALL LARGE PLANET IMAGES EXCEPT MERCURY
------------------------------- */
#bigpicture img:not(#mercury),
#planetinfo div:not(#mercuryinfo) {
    display: none;
}

/* ------------------------------
   2. PAGE LAYOUT (FLOATS)
------------------------------- */
#bigpicture {
    float: left;
    width: 50%;
    margin-right: 20px;
}

#planetinfo {
    float: left;
    width: 40%;
}

#thumbnails {
    clear: both;
    margin-top: 20px;
}

#thumbnails img {
    width: 80px;
    margin: 5px;
    cursor: pointer;
}

img {
    max-width: 100%;
}
